.card-list-container {
  width: 70vw;
  margin: 50px auto;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 28px 18px;
  list-style: none;
  min-height: 50vh;
  justify-content: center;
}

.card-list li {
  width: 250px;
  position: relative;
}

.checkmark-list, .incoming-list {
  width: 36px;
  height: 36px;
  position: absolute;
  left: -18px;
  top: -16px;
}

.incoming-list {
  left: 10px;
}


.filter-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  margin-bottom: 48px;
}

.filter-container button {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 2px;
}

.filter-container .selected {
  border: 1px inset var(--link-color);
  color: var(--link-color);
  /* background-color: red; */
}

.filter-container button:hover {
  background-color: var(--link-color);
  color: var(--text-color);
  cursor: pointer;
}

/* MasterList Styles */
.card-list-card {
  border: 1px solid var(--accent-color);
  border-radius: 18px;
  background-color: var(--fore-color);
}

.card-variant-list {
  display: flex;
  gap: 8px;
  flex-direction: column;
  text-align: left;
  padding: 8px 0 10px 10px;
}

.card-variant-list > .card-variant {
  display: flex;
  justify-content: space-between;
  width: 226px;
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 2px;
  /* border: 1px solid red; */
}

.card-variant-list > .card-variant:last-child {
  border-bottom: none;
}

.box {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  min-width: 25px;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
}

.master-check {
  width: 25px;
  height: 25px;
}

/* Checkbox / Slider Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color);
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text-color);
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--link-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--link-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.variant-toggle-container {
  /* border: 1px solid red; */
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 48px;
}

/* 1440 - 4 wide*/
@media (max-width: 1440px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* 1140 - 3 wide*/
@media (max-width: 1440px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* 840 - 2 wide */
@media (max-width: 820px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .card-list li {
    width: 150px;
  }

  .filter-container {
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-top: -10px;
  }
  
  .filter-container button {
    /* width: 50%; */
    /* padding: 20px; */
    height: 60px;
    flex: 1 1 40%;
  }

  .card-variant-list > .card-variant {
    width: 130px;
  }

  .variant-toggle-container {
    justify-content: center;
  }

}