@import '../../App.css';

form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.searchbar-container > form > input {
  width: 450px;
  padding-left: 40px;
  background-image: url(../../assets/search-regular.png);
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

input:focus {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  outline: none;
}

.make-small {
  width: 280px;
}