@import '../../App.css';

.sets-container {
  padding: 50px 0;
  background-color: var(--back-color);
  display: flex;
  flex-direction: column;
}

/* Sets List */
.sets-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px; 
  row-gap: 30px;
}

/* Set Item Styles */
.set-li {
  border-radius: 4px;
  background-color: var(--fore-color);
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.set-image-container {
  padding-top: 10px;
}

.info-container {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.set-icon {
  max-width: 40px;
  max-height: 50px;
  height: auto;
  width: auto;
  margin-top: 8px;
}

.name-container {
  display: flex;
  gap: 10px;
  max-width: 90%;
  justify-content: center;
}

.set-name {
  padding: 0;
  text-align: center;
}

.info-container span {
  text-align: center;
}

.set-img{
  display: block;
  max-width: 220px;
  max-height: 130px;
  width: auto;
  height: auto;
}

.sets-container {
  width: 70vw;
  margin: auto;
}

.set-name {
  font-size: 28px;
  font-weight: 600;
}

.sort-container {
  display: flex;
  gap: 50px;
}

.sort-item {
  display: flex;
  gap: 10px;
}


/* Media Queries */
@media (max-width: 1200px) {
  .sets-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .sets-list {
    grid-template-columns: 1fr;
  }

  /* .sets-container .sort-container {
    justify-content: center;
  } */
}

@media (max-width: 480px) {
  .sets-container {
    width: 90%;
  }
}